// Mixins Here



.cta-btn(@background-color, @width, @font-color){
    background-color: @background-color;
    width:@width;
    color:@font-color;
    height: 48px;
    border-radius:10px;
}
  
.flex-display(@direction, @justify, @alignment){
    display:flex;
    flex-direction:@direction;
    justify-content: @justify;
    align-items: @alignment;
  }